API_TOKEN=
LOGFIRE_TOKEN=
POSTGRES_URL=postgresql+psycopg://<username>:<password>@<ip>/<db_name>

AWS_REQUEST_CHECKSUM_CALCULATION=when_required
AWS_RESPONSE_CHECKSUM_VALIDATION=when_required
OBS_BUCKET=
OBS_ACCESS_KEY=
OBS_SECRET_KEY=
OBS_REGION=
OBS_ENDPOINT=

ECS_PRIVATE_IP=
ECS_PORT=

OPENAI_BASE_URL=
DEFAULT_MODEL_NAME=
OUTPUT_TOKENS_LIMIT=
SYSTEM_PROMPT=
